*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}

.container{
    display: flex;

    width: 100%;
    height: 100%;
    padding: 20px;
}

.left{
    flex-basis: 45%;
    padding: 10px;
}
.right{
    flex-basis: 55%;
}

textarea{
    width: 100%;
    height: 70%;
    background: #1f1f1f;
    color: white;
    padding: 10px 10px;
    border: 0;
    outline: 0;
    font-size: 16px;
}

iframe{
    
    width: 95%;
    height: 218%;
    background: white;
    border: 0;
    outline: 0;
    margin: 12px 5px;

}

label i{
    margin-right: 10px;
    margin-left: 10px;
}

label{
    display: flex;
    align-items: center;
    background:black; 
    height: 30px;
}
